.about-card {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;

    .about-card-left {
        width: 20%;

        img {
            width: 100%;
        }
    }

    .about-card-right {
        width: 75%;
        text-align: left;

        p {
            font-size: 22px;
            font-weight: 400;
            color: #5fabf2;
        }

        h1 {
            text-align: left;
            font-size: 35px;
            color: #fff;
            font-weight: 600;
            display: flex;

        }
    }
}