.product-card {
    display: flex;

    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 0;

    .card-left {
        width: 50%;

        img {
            width: 100%;
        }
    }

    .card-right {
        width: 45%;

        h1 {
            color: #08304a;
            font-weight: 600;
            font-size: 52px;
            margin-bottom: 25px;
            text-align: center;

        }

        button {
            border-radius: 8px;
            background: #08304a;
            border: 2px solid #08304a;
            color: #fff;
            font-weight: 500;
            font-size: 20px;
            border: none;
            cursor: pointer;
            padding: 17px 50px;
            display: flex;
            margin: 0 auto;
            transition: all ease 0.5s;

            // &:hover{
            //     background: #fff;
            //     color: #08304a;
            //     border: 2px solid #08304a;
            //     transition: all ease 0.5s;
            // }
        }
    }
}